*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/Project.xml
app/src/main/java/br/unitins/cinema/MainActivity.kt
.idea/workspace.xml___jb_tmp___
